*.class

# Package Files #
*.war
*.ear
*.iml
.idea/
.data/
!/test/apps/elasticsearch-5.3.0/lib/*
/test/apps/elasticsearch-5.3.0/data/*
/test/apps/elasticsearch-5.3.0/logs/*
!/test/apps/elasticsearch-5.6.1/lib/*
/test/apps/elasticsearch-5.6.1/data/*
/test/apps/elasticsearch-5.6.1/logs/*
!/test/apps/elasticsearch-6.2.1/lib/*
/test/apps/elasticsearch-6.2.1/data/*
/test/apps/elasticsearch-6.2.1/logs/*
!/test/apps/elasticsearch-6.3.0/lib/*
/test/apps/elasticsearch-6.3.0/data/*
/test/apps/elasticsearch-6.3.0/logs/*
#*.jar
.DS_Store
data/
src/.DS_Store
src/main/.DS_Store
src/test/.DS_Store
src/test/apps/.DS_Store
src/test/apps/elasticsearch-7.3.1/data/
src/test/apps/elasticsearch-7.3.1/jdk/
src/test/apps/elasticsearch-7.3.1/logs/
src/test/apps/elasticsearch-7.3.1/plugins/
target/*
